[mysqld]
server-id=78
log-bin=mysql-bin
binlog_format=MIXED
binlog_expire_logs_seconds=604800
transaction-isolation=READ-COMMITTED

binlog-ignore-db=mysql
binlog-ignore-db=test
binlog-ignore-db=information_schema
# binlog-do-db=fix-db

wait_timeout=28800
interactive_timeout=28800
net_read_timeout=30
net_write_timeout=60
lock_wait_timeout=60
max_connections=2000
long_query_time=2
slow-query-log=on
log_queries_not_using_indexes=0
slow-query-log-file=/var/lib/mysql/slow-query.log
log-queries-not-using-indexes
