[Unit]
Description=synchronize files with rsync.
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /data/nfs/kubernetes/docs/files/inotify.sh monitor
PrivateTmp=True

[Install]
WantedBy=multi-user.target
